{
  "versionCode": 6,
  "versionName": "1.5.0",
  "url": "https://host/thu-muc/SplitSideloader-1.5.0.apk",
  "fileName": "SplitSideloader-1.5.0.apk",
  "sha256": "9f11c2b2b279050c7412c5b275f1a276a3fb0fbb1ffcd6250ee235a63ac790f4",
  "size": 11404023,
  "minSdk": 26,
  "notes": ""
}